<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <cdk-virtual-scroll-viewport>  -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Vizualizar Agendamentos</ion-card-title>
      </ion-card-header>

      <ion-card-content class="text-center">
        <div class="text-center">
          <ion-datetime locale="pt-BR"></ion-datetime>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row class="text-center title">
          <ion-col size="4">Pacientes</ion-col>
          <ion-col size="2">Sessões</ion-col>
          <ion-col size="2">Horário</ion-col>
          <!-- <ion-col>Fisioterapeuta</ion-col> -->
          <ion-col size="2">Atualizar</ion-col>
          <ion-col size="2">Excluir</ion-col>
        </ion-row>
        <div>
          <ion-row class="text-center results mb-3 subTitle">
            <ion-col size="4">Luiz Brabo</ion-col>
            <ion-col>2</ion-col>
            <ion-col>13:00</ion-col>
            <!-- <ion-col>Carla</ion-col> -->
            <ion-col><ion-icon  class="pencil" name="pencil-outline"></ion-icon></ion-col>
            <ion-col><ion-icon  class="trash" name="trash-bin-outline"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row class="text-center results mb-3 subTitle">
            <ion-col size="4">Luiz Brabo</ion-col>
            <ion-col>2</ion-col>
            <ion-col>13:00</ion-col>
            <!-- <ion-col>Carla</ion-col> -->
            <ion-col><ion-icon  class="pencil" name="pencil-outline"></ion-icon></ion-col>
            <ion-col><ion-icon  class="trash" name="trash-bin-outline"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row class="text-center results mb-3 subTitle">
            <ion-col size="4">Luiz Brabo</ion-col>
            <ion-col>2</ion-col>
            <ion-col>13:00</ion-col>
            <!-- <ion-col>Carla</ion-col> -->
            <ion-col><ion-icon  class="pencil" name="pencil-outline"></ion-icon></ion-col>
            <ion-col><ion-icon  class="trash" name="trash-bin-outline"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row class="text-center results mb-3 subTitle">
            <ion-col size="4">Luiz Brabo</ion-col>
            <ion-col>2</ion-col>
            <ion-col>13:00</ion-col>
            <!-- <ion-col>Carla</ion-col> -->
            <ion-col><ion-icon  class="pencil" name="pencil-outline"></ion-icon></ion-col>
            <ion-col><ion-icon  class="trash" name="trash-bin-outline"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div>
          <ion-row class="text-center results mb-3 subTitle">
            <ion-col size="4">Luiz Brabo</ion-col>
            <ion-col>2</ion-col>
            <ion-col>13:00</ion-col>
            <!-- <ion-col>Carla</ion-col> -->
            <ion-col><ion-icon  class="pencil" name="pencil-outline"></ion-icon></ion-col>
            <ion-col><ion-icon  class="trash" name="trash-bin-outline"></ion-icon></ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  <!-- </cdk-virtual-scroll-viewport> -->
</ion-content>


<ion-tabs>
  <ion-tab-bar style="overflow: auto; justify-content: flex-start;">
    <ion-tab-button class="home" href="/tabs/()">
      <ion-icon class="labelMenu" name="home-outline"></ion-icon>      
      <ion-label class="house">Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="agenda" href="/tabs/()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="calendar">Agenda</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="perfil" href="/tabs/()">
      <ion-icon class="labelMenu" name="people-outline"></ion-icon>
      <ion-label class="people">Perfis</ion-label>
    </ion-tab-button> 

    <ion-tab-button class="pagamento" href="/tabs/()">
      <ion-icon class="labelMenu" name="wallet-outline"></ion-icon>     
      <ion-label class="pay">Pagamentos</ion-label>
    </ion-tab-button>       
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-footer-bar>
  <ul class="example text-center">
    <ion-tab-button  class="home example-item " href="/tabs/()" style="border-top-right-radius: 20px !important;">
      <ion-icon class="labelMenu" name="home-outline"></ion-icon>      
      <ion-label class="house">Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="agenda example-item " href="/tabs/()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="calendar">Agenda</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="perfil example-item " href="/tabs/()">
      <ion-icon class="labelMenu" name="people-outline"></ion-icon>
      <ion-label class="people">Perfis</ion-label>
    </ion-tab-button> 

    <ion-tab-button class="pagamento example-item " href="/tabs/()">
      <ion-icon class="labelMenu" name="wallet-outline"></ion-icon>     
      <ion-label class="pay">Pagamentos</ion-label>
    </ion-tab-button>       
</ul>
 </ion-footer-bar> -->


