
.agenda {
  background-color: rgb(108, 169, 101);
  border-top-left-radius: 20px;
  border-left: none;
  border-right: none;
}

.home {
  background-color: white;
  // border-top: 3px solid whitesmoke;
  color: rgb(108, 169, 101);
  border-left: none;
  border-right: none;
}

.perfil {
  background-color: rgb(108, 169, 101);
  border-left: none;
  border-right: none;
}

.pagamento {
  background-color: rgb(108, 169, 101);
  border-left: none;
  border-right: none;
}

.calendar, .people, .pay, .labelMenu {
  color: antiquewhite;
}

ion-icon {
  font-size: 32px;
}

.labels {
    margin-left: 50px;
    font-size: 12px;
}

.label {
  margin-left: 30px;
  font-size: 12px;
}

.info {
  color: black;
}

ion-tab-bar {
  height: 13%;
  border: none;
}

ion-badge {
  background-color: red;
  size: 32px;
}

.header {
  --background: rgb(108, 169, 101);
  color: white;
}
