
.agenda {
  background-color: rgb(108, 169, 101);
}

.home {
  background-color: rgb(108, 169, 101);
}

.perfil {
  background-color: rgb(108, 169, 101);
}

ion-icon, ion-label {
  color: antiquewhite;
}

ion-icon {
  font-size: 32px;
}

.labels {
  margin-left: 50px;
  font-size: 12px;
}

.label {
  margin-left: 30px;
  font-size: 12px;
}

.info {
  color: black;
}

ion-tab-bar {
  height: 13%;
  border: none;
}

